{% extends "dashboard/template/base.html" %}
{% load staticfiles %}
{% block ng-app %}fennec.dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block custom-javascript %}
    <script src="{% static "dashboard/js/dashboard/controllers.js" %}" ></script>
{% endblock %}
{% block  ng-controller %}ProjectsController{% endblock %}
{% block content %}
        <div id="wrapper">
    	<!-- Sidebar -->
    	<div id="sidebar-wrapper">
        	<ul class="sidebar-nav">
        		<li style="margin-right:5%;">
        			<div class="inner-addon right-addon">
    					<i class="glyphicon glyphicon-search"></i>
    					<input type="text" class="form-control" placeholder="Search" ng-model="query"/>
					</div>
        		</li>
        		<li>
        			<p>Order by:</p>
					<select ng-model="sortorder" class="form-control order-by-dropdown">
    					<option value="name" selected>Name</option>
    					<option value="owner">Owner</option>
    					<option value="percentage_complete">Complete</option>
    					<option value="updated">Updated</option>
					</select>
        		</li>
            	<li> <a href="" ng-click="filterBy('All');" onclick="" class="selected">All projects<span class="custom-badge">{{projects.length}}</span></a>
            	</li>
            	<li> <a href="" ng-click="filterBy('Mine');" onclick="">Mine <span class="custom-badge">0</span>
            	</a>
            	</li>
            	<li> <a href="" ng-click="filterBy('Shared');" onclick="">Shared <span class="custom-badge">0</span></a>
            	</li>
            	<li> <a href="" ng-click="filterBy('InProgress');" onclick="">In progress <span class="custom-badge">0</span></a>
            	</li>
            	<li> <a href="" ng-click="filterBy('Completed');" onclick="">Completed <span class="custom-badge">0</span></a>
            	</li>
            	<li> <a href="" ng-click="filterBy('Archived');" onclick="">Archived <span class="custom-badge">0</span></a>
            	</li>
				</br></br>
            	<li>
					<a id="addProject" href="" ng-click="toogle_add_project('true')">Add project</a>
				</li>

        	</ul>
    	</div>
    	<!-- /#sidebar-wrapper -->
    	<!-- Page Content -->
    	<div id="page-content-wrapper">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12" ng-repeat="currentProject in projects | filter:query | filter:criteriaMatch(criteria)  | orderBy: sortorder ">
                		<div id="projectItemTemplate" class="main-row-item">
							<div class="main-row-item-content">
								<span id='{{currentProject.id}}' style="cursor: pointer; font-weight:bold;" ng-click="toggleSidebar(currentProject)">{{currentProject.name}}</span></br>
								<span>Project owner: {{currentProject.created_by}}</span><br>
								<span>Last Updated: {{currentProject.modification_timestamp}}</span><br><br>
								<span>
									<a id="project-members" style="cursor:pointer;">Members:0</a> </br>
								</span>
							</div>
							<div id="project_thumbnail" class="project-thumbnail">
								<img src='{{currentProject.image_url}}' alt="..." class="img-thumbnail" ng-click="toggleSidebar(currentProject)"/>
							</div>
						</div>
                	</div>
                </div>
            </div>
        </div>
        <div id="sidebar-wrapper-rigth">
       	    <ul ng-show="!add_new">
        	    <li><h2>{{selectedProject.name}}</h2></li>
        	    <div class="btn-group">

			    </div>
            </ul>
            <div ng-show="add_new">
               <h3 style="margin-left: 10%;color:#2a6496; ">Add project</h3>
               <div class="form-group has-error has-feedback">
                <input type="text" class="form-control" placeholder="Name" ng-model="AddProject.Name"
                       style="width: 50%; margin-left: 10%; margin-top: 10%; margin-bottom: 5%;">
                <textarea class="form-control" rows="3" placeholder="Description"  ng-model="AddProject.Description"
                          style="width: 75%;margin-bottom: 5%;margin-left: 10%;"></textarea>
                <div style="margin-left:10%;">
  				    <button class="btn btn btn-danger" ng-click="toogle_add_project('false')">
                        <span class="glyphicon glyphicon-remove"></span>
  				    </button>
  				    <button class="btn btn-primary" ng-show="AddProject.Name!=='' && AddProject.Name!=undefined" ng-click="add_new_project()">
                         <span class="glyphicon glyphicon-plus"></span>
  				    </button>
			    </div>
               </div>
            </div>

        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            Are you really sure you want to delete this project?
        </div>
      </div>
    </div>
{% endblock %}