{% extends "dashboard/template/base.html" %}
{% load staticfiles %}
{% block ng-app %}fennec.dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block custom-javascript %}
    <script src="{% static "dashboard/js/dashboard/controllers.js" %}" ></script>
{% endblock %}
{% block  ng-controller %}ProjectsController{% endblock %}
{% block  ng-init %}load_projects(){% endblock %}
{% block content %}
        <div id="wrapper">
    	<!-- Sidebar -->
    	<div id="sidebar-wrapper">
        	<ul class="sidebar-nav">
                <li class="sidebar-left-first">
                    <a ng-hide="add_new" href="" class='' ng-click="start_add_project()">Start new project</a>
                    <div  ng-hide="!add_new" class="input-group add-on">
                        <input type="text" class="form-control" placeholder="Name..." ng-model="add_project.name" style="margin-left:9%;">
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-show="add_project.name.length > 0"  ng-click="add_new_project()" style="background: transparent; border: none;">
                                <i class="glyphicon glyphicon-ok" style="color: white;"></i>
                            </button>
                            <button class="btn btn-default"  ng-click="cancel_add_project()" style="background: transparent; border: none;">
                                <i class="glyphicon glyphicon-remove" style="color: white;"></i>
                            </button>
                        </div>
                    </div>
                </li>
            	<li> <a href="" ng-click="filterBy('All');"  ng-class={selected:'All'==criteria.parameter}>All projects<span class="custom-badge">[[projects.length]]</span></a>
            	</li>
            	<li> <a href="" ng-click="filterBy('Mine');"  ng-class={selected:'Mine'==criteria.parameter}>Mine <span class="custom-badge">[[criteriaMatchLength('Mine')]]</span>
            	</a>
            	</li>
            	<li> <a href="" ng-click="filterBy('Shared');"ng-class={selected:'Shared'==criteria.parameter}>Shared <span class="custom-badge">[[criteriaMatchLength('Shared')]]</span></a>
            	</li>
            	<li> <a href="" ng-click="filterBy('InProgress');" ng-class={selected:'InProgress'==criteria.parameter}>In progress <span class="custom-badge">[[criteriaMatchLength('InProgress')]]</span></a>
            	</li>
            	<li> <a href="" ng-click="filterBy('Completed');" ng-class={selected:'Completed'==criteria.parameter}>Completed <span class="custom-badge">[[criteriaMatchLength('Completed')]]</span></a>
            	</li>
        	</ul>
    	</div>
    	<!-- /#sidebar-wrapper -->

        <div id="sidebar-wrapper-top">
            <div class="row">
                <div class="col-sm-4" style="width: 6%;margin-top: 0.4%;">
                    Order by:
                </div>
                <div class="col-sm-4" style="padding-left: 0%;margin-left: 0%;width: 10%;">
				    <select ng-model="sortorder" class="form-control order-by-dropdown" ng-init="sortorder='name'">
    				    <option value="name" selected>Name</option>
    				    <option value="owner">Owner</option>
    				    <option value="percentage_complete">Complete</option>
    				    <option value="updated">Updated</option>
				    </select>
                </div>
                <div class="search-form col-sm-4">
                    <div class="inner-addon right-addon" style="margin-top: 0%; margin-left: 0%; margin-bottom: 0%">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control" placeholder="Search..." ng-model="query"/>
                    </div>
			    </div>
            </div>
        </div>

    	<!-- Page Content -->
    	<div id="page-content-wrapper">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12 animate-repeat" ng-repeat="currentProject in projects | filter:query | filter:criteriaMatch(criteria)  | orderBy: sortorder ">
                		<div id="projectItemTemplate" class="main-row-item">
							<div class="main-row-item-content">
								<span id='[[ currentProject.id ]]' style="cursor: pointer; font-weight:bold;" ng-click="toggleSidebar(currentProject)">[[ currentProject.name ]]</span></br>
								<span>Project owner: [[ currentProject.created_by ]]</span><br>
								<span>Last Updated: [[ currentProject.modification_timestamp ]]</span><br><br>
								<span>
									<a id="project-members" style="cursor:pointer;">Members:0</a> </br>
								</span>
							</div>
							<div id="project_thumbnail" class="project-thumbnail">
								<img  src="{% static "dashboard/images/empty_project_logo.jpg" %}" alt="..." class="img-thumbnail" ng-click="toggleSidebar(currentProject)"/>
							</div>
						</div>
                	</div>
                    <div ng-if="projects.length == 0">
                        <span>No available projects.</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-wrapper-rigth">
            <h3 class="project-title">[[selectedProject.name]]
                <span style="float: right; margin-right: 15%;">
                    <a  href="" ng-click="remove_project()" title="Remove"><i class="glyphicon glyphicon-remove" style="color: white;"></i></a>
                    <a  href="" ng-click="edit_project()" title="Edit"><i class="glyphicon glyphicon-edit" style="color: white;"></i></a>
                </span>
            </h3>
        </div>
    </div>
{% endblock %}