.navmenu {
    width: 100%;
    align-items: flex-end;
    position: relative;
}

.navmenu-user {
    padding: 15px;
    float: left;
    vertical-align: middle;
    font-size: 22px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-style: italic;
}

.navmenu ul {
    height: 40px;
    padding: 10px;
    margin-left: 20px;
    list-style-type: none;
    list-style-image: none;
}

.navmenu li {
    padding-lef: 15px;
    padding-right: 15px;
    float: right;
    display: inline;
}