{% extends "diagram/template/base.html" %}
{% load staticfiles %}
{% block ng-app %}myApp{% endblock %}
{% block title %}Diagram{% endblock %}
{% block custom-javascript %}
    <script>
        /* Run before angular.js it is needed for because without this table property part not working*/
        if (window.jQuery) {
            window.hideJQuery = window.jQuery;
            window.jQuery = false;
        }
    </script>
    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src="{% static "js/angular/angular.js" %}"></script>
    <script src="{% static "js/angular/angular-route.js" %}"></script>
    <script src="{% static "js/angular/xeditable.js" %}"></script>
    <script src="{% static "js/plugins/angular-ui-notification.min.js" %}"></script>
    <script src="{% static "js/angular/ui-bootstrap-tpls-0.4.0.js" %}"></script>


    <!-- fennec modeling diagram javascripts -->
    <script src="{% static "js/diagram/app.js" %}"></script>
    <script src="{% static "js/diagram/services/d3.js" %}"></script>
    <script src="{% static "js/diagram/services/diagramService.js" %}"></script>
    <script src="{% static "js/diagram/services/spinnerService.js" %}"></script>
    <script src="{% static "js/diagram/controllers/fennecCtrl.js" %}"></script>
    <script src="{% static "js/diagram/directives/fennecDiagram.js" %}"></script>
    <script src="{% static "js/diagram/directives/ng-drag-scroll.js" %}"></script>
    <script src="{% static "js/diagram/state-machine.js" %}"></script>
    <script src="{% static "js/spinjs/spin.js" %}"></script>


{% endblock %}
{% block  ng-controller %}DiagramController{% endblock %}
{% block content %}


<!-- SIDEBAR -->
<div class="ui-layout-west"	>
    <!-- Project info -->
     <div class="well sidebar-nav">
        <ul class="nav nav-list"    >
            <li class="nav-header" style="padding-bottom: 10px;">Project Name - [[projectInfo.name]]</li>

            <li class="nav-header">Active diagram
                <a style="cursor: pointer" data-toggle="tooltip" data-placement="bottom" title="Click to edit diagram name" editable-text="activeDiagram.data.name"
                        style="background-color: #E4F5F8; border: 1px solid #C0DEED;">[[ activeDiagram.data.name ]]</a>
            </li>
            <li class="nav-header" style="margin-top: 5px;">Active schema
                <a style="cursor: pointer" data-toggle="tooltip" data-placement="bottom" title="Click to select another schema" editable-select="activeSchema" e-ng-options="s.data as s.data.databaseName for s in schemas" style="background-color: #E4F5F8;
                        border: 1px solid #C0DEED;">[[ activeSchema.databaseName ]]</a>
            </li>
        </ul>
     </div>

    <!-- Toolbar buttons -->
     <div class="well sidebar-nav">
        <ul class="nav nav-list" >
        <input data-toggle="tooltip" data-placement="bottom" title="Open diagram" class="toolbar-icon" type="image" src="../../../../../../../static/images/buttons/open-folder.png" alt="open"
                         ng-click="showOpenDiagramPopup()" >
             <input data-toggle="tooltip" data-placement="bottom" title="Save diagram" class="toolbar-icon" type="image" src="../../../../../../../static/images/buttons/save_button.png" alt="open"
                         ng-click="saveDiagramButton()" >
             <input data-toggle="tooltip" data-placement="bottom" title="Toggle table properties" class="toolbar-icon" type="image" src="../../../../../../../static/images/buttons/toggle_property_icon.png"
                    alt="Toggle table properies" onclick="innerLayout.toggle('south')" >

        <hr style="margin: 6px 0;"/>

            <input data-toggle="tooltip" data-placement="bottom" title="Select table"  class="toolbar-uml-icon" type="image" src="../../../../../../../static/images/buttons/select_icon.png"
                        onclick="changeState(fennecStates.select)" alt="Select icon">


             <input data-toggle="tooltip" data-placement="bottom" title="Drag diagram"  class="toolbar-uml-icon" type="image" src="../../../../../../../static/images/buttons/drag_button.png"
                        onclick="changeState(fennecStates.drag)" alt="Select icon">


            <input data-toggle="tooltip" data-placement="bottom" title="New table"  class="toolbar-uml-icon" type="image" src="../../../../../../../static/images/buttons/table_icon.cur"
                alt="New table" onclick="changeState(fennecStates.new_table)" >


            <input data-toggle="tooltip" data-placement="bottom" title="New link" class="toolbar-uml-icon" type="image" src="../../../../../../../static/images/buttons/link_icon.png"
                    alt="Link button" onclick="changeState(fennecStates.new_link)" >
            <input data-toggle="tooltip" data-placement="bottom" title="Delete"  class="toolbar-uml-icon" type="image" src="../../../../../../../static/images/buttons/delete_icon.png"
                    onclick="changeState(fennecStates.delete_obj)" alt="Delete button">

        </ul>

    </div>
</div>


<!-- DIAGRAM SIDE -->
<div class="ui-layout-center">

    <!-- Diagram -->
	<div class="ui-layout-center" drag-scroll >
		<div role="tabpanel" >
			<ul class="nav nav-tabs" role="tablist" >
				<li  role="presentation" ng-repeat="tab in openedDiagrams" ng-click="selectDiagram($index)" ng-class="{'active':selectedDiagram == $index}">
					<a data-toggle="tooltip" data-placement="bottom" title="Select diagram"
                            style="cursor: pointer" data-target="#tab"  aria-controls="home" role="tab" data-toggle="tab">[[tab.data.name]] <span ng-click="closeDiagram($index, tab)">
                        <i class="icon-remove" style="cursor: pointer"></i></span></a>
				</li>
				<li role="presentation" ng-click="addDiagram()">
					<a data-toggle="tooltip" data-placement="bottom" title="Create new diagram"
                       aria-controls="home" role="tab" data-toggle="tab" style="cursor: pointer">( + )</a>
				</li>
			</ul>
		</div>
        <div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab">
					 <fennec-diagram adiagram="activeDiagram.data" active-schema="activeSchema" data="diagramData"
                        stable="selectedTable" stable-foreign-keys="selectedTableForeignKeys" stable-indexes="selectedTableIndexes" recal="recal"></fennec-diagram>
				</div>
		</div>
	</div>

    <!-- Table properties -->
	<div class="ui-layout-south " >
        <div ng-show="selectedTable==null" style="text-align:center;font-style: italic;font-family:Courier New;margin: 25px;"> Table is not selected </div>
        <div ng-show="selectedTable!=null">
           <tabset class="nav nav-tabs" style="cursor: pointer">
                  <tab heading="Columns"> <div ng-include="'{% static 'partials/ColumnsTab.html' %}'"> </div></tab>
                  <tab heading="Indexes"> <div ng-include="'{% static 'partials/IndexesTab.html' %}'"> </div></tab>
                  <tab heading="Foreign Keys"><div ng-include="'{% static 'partials/ForeignKeysTab.html' %}'"></div></tab>
           </tabset>
        </div>

    </div>
    <div ng-if="isCreateSchemaPopupShown" ng-include="'{% static 'partials/SchemaPopup.html' %}'"></div>
    <div ng-if="isOpenDiagramPopupShown" ng-include="'{% static 'partials/DiagramPopup.html' %}'"></div>

</div>

{% endblock %}