{% extends "diagram/template/base.html" %}
{% load staticfiles %}
{% block ng-app %}myApp{% endblock %}
{% block title %}Diagram{% endblock %}
{% block custom-javascript %}
    <script>
        /* Run before angular.js it is needed for because without this table property part not working*/
        if (window.jQuery) {
            window.hideJQuery = window.jQuery;
            window.jQuery = false;
        }
    </script>
    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src="{% static "js/angular/angular.js" %}"></script>
    <script src="{% static "js/angular/angular-route.js" %}"></script>
    <script src="{% static "js/angular/xeditable.js" %}"></script>
    <script src="{% static "js/plugins/angular-ui-notification.min.js" %}"></script>
    <script src="{% static "js/angular/ui-bootstrap-tpls-0.4.0.js" %}"></script>

    <!-- fennec modeling diagram javascripts -->
    <script src="{% static "js/diagram/app.js" %}"></script>
    <script src="{% static "js/diagram/services/d3.js" %}"></script>
    <script src="{% static "js/diagram/services/diagramService.js" %}"></script>
    <script src="{% static "js/diagram/services/spinnerService.js" %}"></script>
    <script src="{% static "js/diagram/controllers/fennecCtrl.js" %}"></script>
    <script src="{% static "js/diagram/directives/fennecDiagram.js" %}"></script>
    <script src="{% static "js/diagram/state-machine.js" %}"></script>
    <script src="{% static "js/spinjs/spin.js" %}"></script>


{% endblock %}
{% block  ng-controller %}DiagramController{% endblock %}
{% block content %}


<!--Sidebar-->
<div class="ui-layout-west"	>
     <div class="well sidebar-nav">
        <ul class="nav nav-list"    >
            <li class="nav-header" style="padding-bottom: 10px;">Project Name - [[projectInfo.name]]</li>
            <div></div>
                    <li class="nav-header">Diagram - [[activeDiagram.data.name]]</li>

            <input type="image" src="../../../../../../../static/images/buttons/opened-folder.png" alt="open"
                        style="width:20px; height:20px;" ng-click="showOpenDiagramPopup()" >

            <button ng-click="saveDiagramButton()">Save diagram</button>
            <ng-form class="form-horizontal" role="form" >
                <div class="form-group" >
                    <div class="col-sm-4">
                        <input class="form-control" id="inputName3" placeholder="Name" ng-model="activeDiagramEditData.data.name">
                        <button type="submit" ng-click="editDiagramButton()" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </ng-form>

            <li class="nav-header">Toolbar</li>
            <input type="image" src="../../../../../../../static/images/buttons/table_icon.cur" alt="Submit" width="10" height="10" onclick="changeState(fennecStates.new_table)" >
            <button onclick="changeState(fennecStates.select)">Select table</button>
            <input type="image" src="../../../../../../../static/images/buttons/link_button.cur" alt="Submit" width="10" height="10" onclick="changeState(fennecStates.new_link)" >
            <button onclick="changeState(fennecStates.delete_obj)">Delete</button>
            <button onclick="innerLayout.toggle('south')">toggle Property div</button>

            <li class="nav-header" style="margin-top: 15px;">Schemas</li>
            <select ng-init="activeSchema=schemas[0].data" data-ng-options="s.data as s.data.databaseName for s in schemas" data-ng-model="activeSchema"></select>
            <ng-form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="submit" ng-click="showCreateSchemaPopup()" class="btn btn-success">Add</button>
                    </div>
                </div>
            </ng-form>
        </ul>
    </div>
</div>


<!-- Diagram Side -->
<div class="ui-layout-center">

    <!-- Diagram -->
	<div class="ui-layout-center">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist" style="cursor: pointer">
				<li role="presentation" ng-repeat="tab in openedDiagrams" ng-click="selectDiagram($index)" ng-class="{'active':selectedDiagram == $index}">
					<a data-target="#tab"  aria-controls="home" role="tab" data-toggle="tab">[[tab.data.name]] <span ng-click="closeDiagram($index, tab)">
                        <i class="icon-remove" style="cursor: pointer"></i></span></a>
				</li>
				<li role="presentation" ng-click="addDiagram()">
					<a aria-controls="home" role="tab" data-toggle="tab" style="cursor: pointer">( + )</a>
				</li>
			</ul>
		</div>
        <div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab">
					 <fennec-diagram adiagram="activeDiagram.data" active-schema="activeSchema" data="diagramData"
                        stable="selectedTable" stable-foreign-keys="selectedTableForeignKeys" stable-indexes="selectedTableIndexes" recal="recal"></fennec-diagram>
				</div>
		</div>
	</div>

    <!-- Table properties -->
	<div class="ui-layout-south " >
        <div ng-show="selectedTable==null" style="text-align:center;font-style: italic;font-family:Courier New;margin: 25px;"> Table is not selected </div>
        <div ng-show="selectedTable!=null">
           <tabset class="nav nav-tabs" style="cursor: pointer">
                  <tab heading="Columns"> <div ng-include="'{% static 'partials/ColumnsTab.html' %}'"> </div></tab>
                  <tab heading="Indexes"> <div ng-include="'{% static 'partials/IndexesTab.html' %}'"> </div></tab>
                  <tab heading="Foreign Keys"><div ng-include="'{% static 'partials/ForeignKeysTab.html' %}'"></div></tab>
           </tabset>
        </div>

    </div>
    <div ng-if="isCreateSchemaPopupShown" ng-include="'{% static 'partials/SchemaPopup.html' %}'"></div>
    <div ng-if="isOpenDiagramPopupShown" ng-include="'{% static 'partials/DiagramPopup.html' %}'"></div>

</div>

{% endblock %}