{% load staticfiles %}

<html ng-app="{% block ng-app %}fennec{% endblock %}">
<head>
    <title>{% block title %}Fennec{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="{% static "dashboard/js/angular-strap/angular-strap.min.js" %}"></script>
    <script src="{% static "dashboard/js/angular-strap/angular-strap.tpl.min.js" %}"></script>
    <script src="{% static "dashboard/js/plugins/popover-extra-placements.min.js" %}"></script>

    <script src="{% static "dashboard/js/base/app.js" %}"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//rawgithub.com/mgcrea/angular-motion/master/dist/angular-motion.min.css">

    <link href="{% static 'dashboard/css/notifications.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/main.css' %}" rel="stylesheet">
</head>
<body>
{% include "dashboard/template/navbar.html" %}
<div class="content"  ng-controller="{% block  ng-controller %}{% endblock %}">
    {% block content %}{% endblock %}
</div>
{% block custom-javascript %}{% endblock %}
<script type="application/javascript">

</script>
</body>
</html>