<div class="navmenu">
    <div class="navmenu-user">
        Hello {{ request.user.username }}!
    </div>
    <ul>
        <li>
            <a class="btn btn-danger btn-sm" href="{% url 'auth.sign-out' %}">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </li>
        <li>
            {% verbatim %}
            <div ng-controller="NotificationsPopover">
                <button
                        data-placement="bottom"
                        data-animation="am-flip-x"
                        bs-popover="popover"
                        data-content="{{popover.content}}"
                        data-template="template/notifications.popover"
                        class="btn btn-info btn-sm">
                    <i class="fa fa-info-circle fa-2x"></i>
                </button>
            </div>
            {% endverbatim %}
        </li>

    </ul>
</div>