{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="{% block ng-app %}fennec{% endblock %}">
<head>
    <title>{% block title %}Fennec{% endblock %}</title>
    <!-- UI Libs (using to move down and left panel) -->
    <script src="{% static "js/angular/jquery-latest.js" %}"></script>
    <script src="{% static "js/angular/jquery-ui-latest.js" %}"></script>
    <script src="{% static "js/angular/jquery.layout-latest.js" %}"></script>

    <link href="{% static 'css/layout-default-latest.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/xeditable.css' %}" rel="stylesheet">
    <link href="{% static 'css/notifications.css' %}" rel="stylesheet">
    <link href="{% static 'css/angular-ui-notification.min.css' %}" rel="stylesheet">

    <style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    <!--Settings for layouts ( toolbar and table properties close/open resize)-->
    <script type="text/javascript">
        // whole page
        var outerLayoutOptions = {
            north__spacing_open: 0, west__size: 300, south__size: 200, center__childOptions: {
                inset: {
                    top: 0, bottom: 0, left: 0, right: 0
                }
            }
        };

        // diagram and properties
        var innerLayoutOptions = {
            center__paneSelector: ".ui-layout-center", south__paneSelector: ".ui-layout-south"
        };
        var innerLayout;
        $(document).ready(function () {
            $('body').layout(outerLayoutOptions);
            innerLayout = $('div.ui-layout-center').layout(innerLayoutOptions);
        });
    </script>


    <!--my internal stylesheets-->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/popup.css' %}" rel="stylesheet">
</head>
<body ng-controller="DiagramController">

<!--Menu-->
<div class="ui-layout-north">
    </br>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">Model</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

{% block custom-javascript %}{% endblock %}
{#<script type="application/javascript"></script>#}

<!-- Spinner -->
<div class="spinner" id="divProgressSpinner" style="display: none;"></div>



</body>
</html>