Table Name:
<input data-ng-model="selectedTable.data.name" type="text" placeholder="Table name"
       ng-change="setTableToModified(selectedTable)">
<b>Schema:</b> [[ getSchemaName(selectedTable.data.schemaRef)]]
<b>Collation:</b> [[ selectedTable.data.collation ]]


<table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
        <td style="width:3%"></td>
        <td style="width:32%">Column</td>
        <td style="width:15%">Column Type</td>
        <td style="width:4%">Precision</td>
        <td style="width:4%">PK</td>
        <td style="width:4%">NN</td>
        <td style="width:4%">UQ</td>
        <td style="width:4%">AI</td>
        <td style="width:30%">Edit</td>
    </tr>

    <!-- TABLE COLUMNS -->
    <tr ng-repeat="column in selectedTable.data.columns">
        <td >
            <img ng-show="column.cdata.ordinal != 1" src="../../../../../../../static/images/arrow_up.png"
                 data-toggle="tooltip" data-placement="bottom" title="Move column up"
                 width="16" height="16" ng-click="moveColumnUp(column, selectedTable.data.columns)">
            <img ng-show="column.cdata.ordinal != selectedTable.data.columns.length"
                 data-toggle="tooltip" data-placement="bottom" title="Move column down"
                 src="../../../../../../../static/images/arrow_down.png"  width="16" height="16" ng-click="moveColumnDown(column, selectedTable.data.columns)">
        </td>
        <td>
              <span editable-text="column.cdata.name" e-name="name" e-form="rowform" e-required>
                  [[ column.cdata.name || 'empty' ]]
              </span>
        </td>
        <td style="white-space: nowrap">
                            <span editable-select="column.cdata.column_type" e-name="column_type" e-form="rowform"
                                  e-ng-options="s for s in columnTypes"> [[ column.cdata.column_type ]]
                            </span>
        </td>
        <td style="white-space: nowrap">
              <span editable-number="column.cdata.precision" e-name="precision" e-form="rowform" e-min="0">
                  [[ column.cdata.precision ]]
              </span>
        </td>
          <td style="white-space: nowrap">
              <span editable-checkbox="column.cdata.primary" e-name="primary" e-form="rowform"
                    onaftersave="ifPrimarySetAsUnique($data, column.cdata)">
                  <input type="checkbox" data-ng-model="column.cdata.primary" ng-disabled="true">
              </span>
        </td>
        <td style="white-space: nowrap">
              <span editable-checkbox="column.cdata.unique" e-name="unique" e-form="rowform">
                  <input type="checkbox" data-ng-model="column.cdata.unique" ng-disabled="true">
              </span>
        </td>
        <td style="white-space: nowrap">
              <span editable-checkbox="column.cdata.nullable" e-name="nullable" e-form="rowform">
                  <input type="checkbox" data-ng-model="column.cdata.nullable" ng-disabled="true">
              </span>
        </td>
        <td style="white-space: nowrap">
              <span editable-checkbox="column.cdata.autoIncrement" e-name="nullable" e-form="rowform">
                  <input type="checkbox" data-ng-model="column.cdata.autoIncrement" ng-disabled="true">
              </span>
        </td>
        <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="saveColumn($data, column.cdata.id)"
                  ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == column">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                        class="btn btn-default">
                    cancel
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary"
                         data-toggle="tooltip" data-placement="bottom" title="Edit column"
                        ng-click="rowform.$show()">edit</button>
                <button class="btn btn-danger"
                        data-toggle="tooltip" data-placement="bottom" title="Delete column"
                        ng-click="removeTableColumn($index)">del</button>
            </div>
        </td>
    </tr>
</table>

<button class="btn btn-default"
        data-toggle="tooltip" data-placement="bottom" title="Add column"
        ng-click="addColumn()">Add</button>