<div class="PopupMainPanel">
    <div class="popup popup-small">
        <div class="container">
            <h2 style="margin-bottom: 15px">Open diagram</h2>
                <div ng-if="closedDiagrams.length<=0"> All diagrams are opened! </div>

                <div class="form-group" ng-if="closedDiagrams.length>0">
                    <label for="lblDiagram">Diagrams:</label>
                <select  id="lblDiagram" ng-init="openDiagramData.data = closedDiagrams[0]"
                    data-ng-options="s as s.data.name for s in closedDiagrams" data-ng-model="openDiagramData.data"></select>
                </div>

                <button class="btn btn-default" ng-click="openDiagram()" id="ttfpOK"  ng-if="closedDiagrams.length>0">Open</button>
                <button class="btn btn-default" ng-click="cancelDiagramPopup()" id="ttfpCancel">Cancel</button>
        </div>

    </div>
</div>