<div id="foreignKeyFirstDiv" style="float: left; margin-right: 10px;">
<table class="table table-bordered table-hover table-condensed" >
    <tr style="font-weight: bold">
        <td style="width:50%">Foreign Key Name</td>
        <td style="width:5\0%">Referenced Table</td>
        <td style="width:20%">Edit</td>
    </tr>

    <tr ng-repeat="foreignKey in selectedTableForeignKeys">
        <td>
                            <span editable-text="foreignKey.data.name" e-name="fkName" e-form="fkForm">
                                [[ foreignKey.data.name || 'empty' ]]
                            </span>
        </td>
        <td style="white-space: nowrap">
            [[ foreignKey.table.data.name || 'empty' ]]
        </td>

        <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="fkForm" onbeforesave="saveColumn($data, column.id)"
                  ng-show="fkForm.$visible" class="form-buttons form-inline"
                  shown="inserted == foreignKey">
                <button type="submit" ng-disabled="fkForm.$waiting" class="btn btn-primary">
                    save
                </button>
                <button type="button" ng-disabled="fkForm.$waiting" ng-click="fkForm.$cancel()"
                        class="btn btn-default">
                    cancel
                </button>
            </form>
            <div class="buttons" ng-show="!fkForm.$visible">
                <button class="btn btn-info" ng-click="showForeignKeyColumns(foreignKey)">select</button>
                <button class="btn btn-primary" ng-click="fkForm.$show()">edit</button>
                <button class="btn btn-danger" ng-click="removeTableColumn($index)">del</button>
            </div>
        </td>
    </tr>
</table>
</div>


<div id="foreignKeySecondDiv"  style="float: left; margin-left: 10px;">
<table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
        <td >Column</td>
        <td >Referenced Column</td>
        <td >Comment</td>
        <td >Edit</td>
    </tr>

    <tr ng-repeat="column in selectedTableForeignKeyColumns">
        <td>
            [[ column.column.cdata.name || 'empty' ]]
        </td>
        <td style="white-space: nowrap">
             <span editable-select="column.refColumn.cdata" e-name="referenced_column" e-form="rowform"
                     e-ng-options="s.cdata as s.cdata.name for s in column.refIndexColumns"> [[ showReferencedColumnName(column.refColumn) ]]
             </span>
        </td>
        <td>
              <span editable-textarea="column.comment" e-rows="5" e-cols="40" e-name="fkName" e-form="rowform">
                  [[ column.comment || 'empty'  ]]
                  </span>
        </td>
        <td style="white-space: nowrap">
            <form editable-form name="rowform" onbeforesave="saveColumn($data, column.cdata.id)"
                  ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == column">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                        class="btn btn-default">
                    cancel
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
            </div>
        </td>
    </tr>
</table>
</div>
